src/ProjectCreate/Messages/Configuration/ProjectMaster.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://github.com/AmplaTools/ProjectCreate"
    elementFormDefault="qualified"
    xmlns="http://github.com/AmplaTools/ProjectCreate"
    xmlns:mstns="http://schemas.microsoft.com/2003/10/Serialization/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ProjectMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Equipment" type="EquipmentDefinition" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="EquipmentDefinition">
    <xs:sequence>
      <xs:element name="Hierarchy" type="ProjectHierarchy" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Classes" type="ListOfClasses" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ProjectHierarchy">
    <xs:attribute name="href" type="xs:string" use ="required"/>
    <xs:attribute name="format" type="ProjectFileFormat" use="required"/>
  </xs:complexType>

  <xs:simpleType name="ProjectFileFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Excel"/>
      <xs:enumeration value="Xml"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="ListOfClasses">
    <xs:sequence>
      <xs:element name="Class" type="ClassDefinition" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClassDefinition">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="href" type="xs:string" use ="required"/>
  </xs:complexType>

</xs:schema>

