src/ProjectCreate/Messages/MasterFile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://github.com/JoePlant/ProjectCreate"
    elementFormDefault="qualified"
    xmlns="http://github.com/JoePlant/ProjectCreate"
    xmlns:mstns="http://schemas.microsoft.com/2003/10/Serialization/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="ProjectCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hierarchy" type="Hierarchy" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Hierarchy">
    <xs:attribute name="href" type="xs:string" use ="required"/>
  </xs:complexType>


</xs:schema>

